@model BankingCalculator.Models.Calc
@{
    ViewBag.Title = "Banking Calculator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome to Banking Calculator!</h1>

<h3>@Html.ActionLink("Calculate your profit!", "Count", "Calc")</h3>